<!-- <div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&close;</button>
  <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
</div> -->



<%= form_for(@dinner) do |f| %>
  <% if @dinner.errors.any? %>
    <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">x</button>
      <% @dinner.errors.full_messages.each do |msg| %>   
        <strong><%= msg %></strong><br>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %><br>
  <%= f.text_field :title %><br>
  <%= f.label :date %><br>
  <%= f.datetime_select :date %><br>
  <%= f.submit %>
<% end %>