<%= render 'dinners/dinner_attributes' %>


<h2>Menu</h2>
<%= link_to "See or Create Menu", dinner_menu_items_path(@dinner) %>


<h2>Guests</h2>
<ul>
<% @dinner.guests.each do |guest| %>
  <li><%= image_tag(guest.user.profile_picture) if guest.user.profile_picture %><%= guest.name %><%= " | Host" if guest.user_id == @dinner.host.user_id %></li>
<% end %> 
</ul>
<%= link_to "Invite Guests",  new_dinner_invitation_path(@dinner) %>
