
<h1><%= @dinner.title %></h1>
<p><%= @dinner.date %></p>
<p><%= @dinner.host.name if @dinner.host %></p>


<h2>Menu</h2>
<%= link_to "See or Create Menu", dinner_menu_items_path(@dinner) %>


<h2>Guests</h2>
<%= link_to "Invite Guests",  new_dinner_invitation_path(@dinner) %>
<%= link_to "View All Guests", dinner_invitations_path(@dinner) %>
