<div class="container">
<h1>Your Menu</h1>
<%= link_to "Add Items", new_dinner_menu_item_path(@dinner) %> | <%= link_to "Back", dinner_path(@dinner)%>
<% @menu_items_by_course.each do |menu_item_by_course| %>
  <ul>
    <p>
    <% if menu_item_by_course.any? %>
      <div class="float-left-extra-padding">
      <h2><%= menu_item_by_course.first.dish.course %></h2>
        <% menu_item_by_course.each do |menu_item| %>
          <li>
            <%= menu_item.dish.name %>
            <%= link_to "X", dinner_menu_item_path(@dinner, menu_item), method: :delete %>
          </li>
        <% end %>
      </div>
    <% end %>
    </p>
  </ul>
<% end %>
</div>
