<h2 class="pad-20-left">
  Welcome, <%= @user_show.name %>!
</h2>
<div class="row pad-20-left">
  <div class="col-md-3">
    <%= image_tag(@user_show.profile_picture, class:"float-left") if @user_show.profile_picture%>
    <p>Here are your upcoming events. Don't forget to pick something to bring! </p>
  </div>
</div>

<h2 class="pad-20-left">Your Dinner Invitations</h2>
<div class="pad-20-left width-400">
    <% if @user_show.guest %>
      <% @user_show.guest.invitations.each do |invitation| %>
      <div>
            <h3 class="dashed-border-bottom"><%= invitation.dinner.title %></h3>
            <strong>When:</strong> <%= invitation.dinner.formatted_date %><br>
            <strong>Status:</strong> <%= invitation.status %><br>
            
            <strong>Your Dishes:</strong> <%= invitation.dinner.assigned_dishes_for_guest(@user_show.guest) %><br>

            <%= link_to "Choose a New Dish", new_dinner_dish_assignment_path(invitation.dinner) %> | 
            <%= link_to "Modify Your Dishes", dinner_dish_assignments_path(invitation.dinner)  %>
      </div>
      <% end %>
    <% end %>
</div>

<h2 class="pad-20-left">Dinners You Are Hosting</h2>
<div class="pad-20-left width-400">
    <% if @user_show.host %>
      <% @user_show.host.dinners.each do |dinner| %>
        <div>
            <h3 class="dashed-border-bottom"><%= dinner.title %></h3>
            <strong>When:</strong> <%= dinner.formatted_date %><br>
            <%= link_to "Edit Title and Date", edit_dinner_path(dinner) %> |             <%= link_to "Cancel Dinner", "/dinners/#{dinner.id}", method: :delete %><br>
            <%= link_to "View Menu and Guests", "/dinners/#{dinner.id}" %><br>

        </div> 
      <% end %>
    <% end %>
</div>
