<h1>
  User Name: <%= @user.name %>
</h1>

<h2>Your Dinner Invitations</h2>
  <ol>
    <% if @user.guest %>
      <% @user.guest.invitations.each do |invitation| %>
        <li>Date: <%= invitation.dinner.date %><br>
            Title: <%= invitation.dinner.title %><br>
            Your Dishes: 
        </li>
      <% end %>
    <% end %>
  </ol>

<h2>Dinners You Are Hosting</h2>
  <ol>
    <% if @user.host %>
      <% @user.host.dinners.each do |dinner| %>
        <li>Date: <%= dinner.date %><br>
            Title: <%= dinner.title %><br>
            Your Dishes: <%= @user.assigned_dishes_for_dinner(dinner) %>
        </li> 
      <% end %>
    <% end %>
  </ol>

