<% view_object = UserViewObject.new(@user_show) %>
<div class="container-fluid">

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <h2>Welcome, <%= @user_show.name %>!</h2>
    <%= image_tag(@user_show.profile_picture, class:"float-left img-circle") if @user_show.profile_picture%>
    <p>Here are your upcoming events. Don't forget to pick something to bring! </p>
  </div>
  <div class="col-md-9"></div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-1">
  <h3>Your Dinner Invitations</h3><br>
    <% if @user_show.guest %>
      <% @user_show.guest.invitations.each do |invitation| %>
        <% if view_object.future_event?(invitation.dinner) %>
          <div>
            <h4 class="dashed-border-bottom"><%= invitation.dinner.title %></h4>
            <strong>When:</strong> <%= view_object.formatted_date(invitation.dinner) %><br>
            <strong>Status:</strong> <%= invitation.status %><br>            
            <strong>You Are Bringing:</strong> <%=invitation.dinner.assigned_dishes_for_guest(@user_show.guest) %><br>
            <strong>Need Recipe Ideas? Check These Out!</strong>
            <ul>
            <% recipes = view_object.find_recipes(invitation) %>
            <% recipes.each do |recipe| %>
              <li><%= link_to recipe[0], recipe[-1] %></li>
            <% end %><br>
          </ul>
            <%= link_to "Choose What To Bring", new_dinner_dish_assignment_path(invitation.dinner) %><br>
            <%= link_to "Modify What You're Bringing", dinner_dish_assignments_path(invitation.dinner)  %>  
          </div><br><br>
        <% end %>
      <% end %>
    <% end %>
</div>


<div class="col-md-4 col-md-offset-1">
  <h3>Dinners You Are Hosting</h3><br>
    <% if @user_show.host %>
      <% @user_show.host.dinners.each do |dinner| %>
        <% if view_object.future_event?(dinner) %>
            <div>
              <h4 class="dashed-border-bottom"><%= dinner.title %></h4>
              <strong>When:</strong> <%= view_object.formatted_date(dinner) %><br>
              <%= link_to "Edit Title and Date", edit_dinner_path(dinner) %> |             <%= link_to "Cancel Dinner", "/dinners/#{dinner.id}", method: :delete %><br>
              <%= link_to "View Menu and Guests", "/dinners/#{dinner.id}" %><br>
          </div>               
        <% end %>
      <% end %>
    <% end %>
</div>
</div>
