<h1>Add Items to your menu!</h1>
<%= form_for [@dinner, @menu_item] do |f| %>
  <ul>
  <% @all_dishes.each do |dish_type| %>
    <h2><%= dish_type.first.course %></h2>
      <% dish_type.each do |type| %>
        <li>
        <input type="checkbox" name="menu_item[dish_ids][]" value="<%= type.id%>"> 
        <%= f.label type.name %></li>
       <% end %>
  <% end %>
    </ul>

  <%= f.submit "Create Menu"%>
<% end %>